#box{
    background: white;
    width: 100px;
    height: 10px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    
}

#calculator{
    display: flex;
    height: 300px;
    width: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border: 2px solid black;
}

#numpad{
    display:flex;
    border:2px solid black;    
}

#numbers{
    display:flex;
    height:150px;
    width:75px;
    flex-wrap:wrap
    
}

#operators{
    display: flex;
    flex-direction: column;
    justify-content: center;
}